*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
/* universal font added, all font will be use as open sans*/

.text-primary{
    color: #FD6E0A;
}
/* common color for website */

.btn-primary{
    color: #FFFFFF;
    font-weight: 700;
    /* font curvy */
    font-size: 20px;
    border: 0;
    /* no border */
    padding: 18px 35px;
    /* button padding top&bottom 18px left&right 35px */
    height: 64px;
    border-radius: 5px;
    /* border round shape */
    background: #FD6E0A;
}
.btn-contact{
    font-weight: 700;
    font-size: 20px;
    margin-left: 30px;
    padding: 19px 23px 18px 30px;
    border-radius: 5px;
    border: 1px solid #FD6E0A;
    color: #FD6E0A;
}
.header{
    background: #FFF8F3;
    /* background color add */
    background-image: url('../images/header_bg.png'), url(../images/developer.png);
    /* adding background image */
    background-repeat: no-repeat;
    /* background will not repeat in random time */
    background-position: bottom right, left;
    /* one image wil go bottom right another will go left */
}

/* header and navigation styles */
nav{
    /* nav is not a class (.) its a tag */
    display: flex;
    /* h1 and ul would be in same line */
    justify-content: space-between;
    /* create space between h1 and ul */
    /* items are evenly distributed in the line; first item is on the start line, last item on the end line */
    padding: 50px 200px;
    /* inside nav 50px for top and bottom and 200px for right and left */
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
nav ul{
    display: flex;
    /* ul parent class and their child li would be in same line */
    align-items: center;
    /* all list in center position */
}
nav li{
    list-style: none;
    /* remove dot from li */
    margin-left: 50px;
    /* create margin between li */
}

/* banner styles */
.banner{
    display: flex;
    /* text and image will be side by side */
    align-items: center;
    /* text and image both will be center */
    margin: 0 200px;
    /* top & bottom 0, right & left 200px */
}
.banner-title{
    font-weight: 700;
    font-size: 85px;
    /* default font size 16px and font weight 400px */
}
.banner-sub-title{
    font-weight: 600;
    font-size: 45px;
    margin-bottom: 20px;
}
.banner-description{
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;

}
/* main section */
main{
    max-width: 1140px;
    margin: 0 auto;
    /* center  */
}
/* about section styles */
.about{
    text-align: center;
    margin-top: 130px;
    background: #ffe0c9;
    border-radius: 10px;
    padding: 130px 150px;
}
.section-title{
    text-align: center;
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 30px;  
}
.section-description{
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
    
}
.about-info-container{
    display: flex;
    /* side by side */
    justify-content: space-around;
    /* search flexbox cheat sheet */
    /* items are evenly distributed in the line with equal space around them. */
    
}
.about .info-title{
    font-size: 20px;
    color: #757575;
}
.info-description{
    font-weight: 700;
    font-size: 20px;
    color: #474747;
}

/* what i do styles */
.what-i-do{
    margin-top: 130px;
    text-align: center;
}
.i-do-description{
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    color: #757575;
    margin-top: 30px;
    margin-bottom: 50px;
    padding-left: 300px;
    padding-right: 300px;
}
.skills-container{
    display: flex;
    gap: 24px;
    /* gap between */
}
.skill{
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 30px;
    text-align: left;
}
.skill-title{
    font-weight: 700;
    font-size: 20px;
    color: #181818;
    margin-top: 30px;
    margin-bottom: 20px;

}
.skill-description{
    color: #757575;
    
}
/*Resume Styles */
.section-title-r{
    margin-top: 130px;
    text-align: center;
    margin-bottom: 112px;
    font-size: 35px;
    font-weight: 700;
}
.resume-content{
    display: flex;
    gap: 24px;
}
.resume-item{
    margin-top: 30px;
    margin-bottom: 30px;
}
.resume-title{
    font-weight: 700;
    font-size: 30px;
}
.resume .title{
   
    color: #474747;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 25px

   
}
.resume .sub-title{
    color: #757575;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px;
    
}
.resume-description{
    color: #757575;
}
.resume-button{
    margin-top: 50px;
    text-align: center;
}
/* contract styles */
.contact{
    display: flex;
    gap: 100px;
    background: #FFF8F3;
    padding: 130px 200px;
}
.contact .section-title{
    text-align: left;
}
.contact input[type="text"], input[type="email"], textarea{
    margin-bottom: 24px;
    border: 0;
    width: 100;
    padding: 18px 30px;
}
input{
    height: 64px;
}
.contact a{
    text-decoration: none;
}